# sphinx
# sphinx-design
# sphinxext-opengraph
# sphinx-rtd-theme
sphinx-book-theme
# myst-parser
# chardet
myst-parser
sphinx
sphinx-design
sphinx-copybutton
sphinxext-rediraffe
sphinxext-opengraph
sphinx-pyscript
sphinx-tippy
sphinx-togglebutton